@model RazorGrid.Models.GridModelList

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@Html.GridFor(m => m.Data)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
